/*If you need to add extra style put it here*/
 .input-container {
	 padding: 20px 30% 20px 30%;
 }

 @media (max-width: 800px) {
	.input-container {
		padding-left: 0;
		padding-right: 0;
	}
  }

/*Create Todo*/
.todo-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.todo-list li {
	position: relative;
	font-size: 24px;
	border-bottom: 1px solid #ededed;
	padding: 10px 0px;
}

.todo-list li:last-child {
	border-bottom: none;
}

.todo-list li .view {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	align-items: center;
}

